:root {
    --suggested: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --global-font-family:SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    --second-global-font-family: Comic Sans MS Bold,Avenir Roman,Avenir Next Condensed Bold;
    --sk-fill-tertiary: #fdfdfd;
  }
  /* .container_faq{
    width: 90%;
    display: flex;
    align-content: center;
    background-color: rgb(165, 102, 102);
  } */
.faq{
    font-family: var(--global-font-family);
    padding: 4em;
    width: 90em;
    justify-content: space-between;
  
}
.faq_title{margin-bottom: 1em; 
         font-size: 30px;
         font-weight: 400;
}
.quote{line-height: 1.5em;
       font-weight: 400;
       font-size: medium;
       border-bottom: 2px solid black;
       margin-bottom: 10px;
}
.faq_dropper{
    
    width: 100%;  
    padding: 0 0em 2em 0;
    
    
}
.questions_section{
    padding-bottom: 1em;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;  
}
.questions_answer{
    padding-bottom: 1em;
    font-weight: 400;
    font-size: 14px;
   
}
.icons_readmore{
    background-color: rgb(31, 140, 212);
    border-radius: 1px;
    
    width: fit-content;
   max-height: fit-content;
    color: #ffffff;
    padding: 1px;
    display: flex;
    justify-content: center;
}
/* @media only screen and (max-width: 600px) {
    .faq{max-width: 60%;}
    .faq_dropper{width: 60%;}
} */