*{
  border: 0;
  margin: 0;
}
html, body { margin: 0; }
body{
  padding: 0;
  margin: 0;
  /* background-color: white; */
}

/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
 }

:root {
  --suggested: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --global-font-family:SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  --second-global-font-family: Comic Sans MS Bold,Avenir Roman,Avenir Next Condensed Bold;
   
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */




