:root {
  --suggested: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --global-font-family:SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  --second-global-font-family: Comic Sans MS Bold,Avenir Roman,Avenir Next Condensed Bold;
  --sk-fill-tertiary: #fdfdfd;
}

@use "@material";
body {
  
  margin: 2em;
  color: #3d3d3d;
  --mdc-theme-primary: #007f8b;
  --mdc-theme-on-primary: #f1f3f4;
}

h1 {
  font-size: 20px;
    font-weight: 400;
    line-height: 1.262em;
    font-weight: 500;
  color: #007f8b;
  max-width:25em;
}

h2 {
  clear: both;
}

em {
  font-weight: bold;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.mdc-button.mdc-button--raised.removed {
  display: none;
}

/* .invisible {
  background-color: #007f8b;
  opacity: 0.2;
} */


.invisible{
  width: max-content;

}
.webcam_pop{
  max-width: 20em;
}
.detectOnClick {
  width: 40px;
}
.videoView,
.detectOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.detectOnClick p {
  position: absolute;
  padding: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.videoView p {
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}


.key-point {
  position: absolute;
  z-index: 1;
  width: 3px;
  height: 3px;
  background-color: #ff0000;
  /* border: 1px solid #ffffff; */
  border-radius: 50%;
  display: block;
}

.mdc-button {
  color: white;
  font-size: 1em;
  padding: 20px;
  border: none;
  border-radius: 50px;
  background-color: blue;


}
.mdc-button:hover {
  background-color: #00098d;
  cursor: pointer;
}

.request-payment {
  color: white;
  font-size: 1em;
  padding: 20px;
  border: none;
  border-radius: 50px;
  background-color: rgb(0, 212, 32);
  margin-left: 10px;
}

.request-payment:hover {
  background-color: #008812;
  cursor: pointer;
}

/* .payment-info {
  
} */

.output-message {
  font-family: var(--global-font-family) !important;
  font-size: 16px;
  font-weight: 400;
}

.register-button {
  color: white;
  font-size: 1em;
  padding: 20px;
  border: none;
  border-radius: 50px;
  background-color: rgb(212, 0, 0);
  margin-left: 10px;
}

.register-button:hover {
  background-color: #620000;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
      font-weight: 400;
      line-height: 1.262em;
      font-weight: 500;
    color: #007f8b;
    max-width:20em;
  }
}
